In [1]:
import pandas as pd
import numpy as np
import re
import datetime

In [2]:
df_c = pd.read_csv('chosun_new.csv')
df_c.shape

(730764, 4)

In [3]:
df_d = pd.read_csv('donga_new.csv')
df_d.shape

(316609, 4)

In [6]:
df_j = pd.read_csv('joongang_new.csv')
df_j.shape

(1944874, 4)

In [7]:
df_k = pd.read_csv('khan_new.csv')
df_k.shape

(971280, 4)

In [8]:
final = pd.concat([df_c,df_d,df_j,df_k])
final.shape

(3963527, 4)

In [12]:
final.head()

,Unnamed: 0,title,date,company
0,0,경제전문가·일반인 긴급 여론조사;“구조조정만이 살길”,2001-01-01,chosun
1,1,◇희망의 2001년… 다시 한번 뛰어보자;,2001-01-01,chosun
2,2,"클린턴이 임명한 테닛;부시, CIA국장 유임시킬듯;",2001-01-01,chosun
3,3,민주의원 이적 새해정국 파문;3명 자민련 입당… 교섭단체 가능 야 강력반발… 영수회...,2001-01-01,chosun
4,4,공적자금 투입 4개은 금융노조 전격 탈퇴;한빛·서울도 구조조정 동의,2001-01-01,chosun

In [11]:
final.tail()

        Unnamed: 0                                  title        date company
971275     1797631   상위 20% 소득 2.0% 줄어들 때 하위 20% 6.5% 줄었다  2022-11-21    khan
971276     1797632  가계소득 하위 20%, 지출 절반이 ‘식비’···먹고살기 힘들어졌다  2022-11-21    khan
971277     1797633    APEC 간 한덕수 총리 “빈살만, 윤 대통령 만남 좋았다더라”  2022-11-21    khan
971278     1797641       [조광희의 아이러니] 이태원 참사에서 되풀이되는 한국증후군  2022-11-21    khan
971279     1797646   개막식 빛낸 BTS 정국···사상 첫 중동·겨울 월드컵 '킥오프'  2022-11-21    khan